body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

#chat {
  height: 85vh;
  overflow-y: auto;
  padding: 10px;
}

.bar {
  display: flex;
  padding: 10px;
  background: #222;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
}
